﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    @using (Html.BeginForm("File1", "Home", FormMethod.Get))
    {
        <div class="form-horizontal">
            <button type="submit" id="btnDownload1" class="btn btn-success btn-lg">
                <i class="fa fa-list-alt"></i> Phiếu xác định nội hàm, phân tích tiêu chí tìm minh chứng tiêu chí
            </button>
        </div>
    }

    @using (Html.BeginForm("File2", "Home", FormMethod.Get))
    {
        <div class="form-horizontal">
            <button type="submit" id="btnDownload2" class="btn btn-success btn-lg">
                <i class="fa fa-list-alt"></i> Phiếu đánh giá Mức 1,2,3
            </button>
        </div>
    }

    @using (Html.BeginForm("File3", "Home", FormMethod.Get))
    {
        <div class="form-horizontal">
            <button type="submit" id="btnDownload3" class="btn btn-success btn-lg">
                <i class="fa fa-list-alt"></i> Phiếu đánh giá Mức 4
            </button>
        </div>
    }

    @using (Html.BeginForm("File4", "Home", FormMethod.Get))
    {
        <div class="form-horizontal">
            <button type="submit" id="btnDownload4" class="btn btn-success btn-lg">
                <i class="fa fa-list-alt"></i> Danh mục mã minh chứng
            </button>
        </div>
    }

    @using (Html.BeginForm("File5", "Home", FormMethod.Get))
    {
        <div class="form-horizontal">
            <button type="submit" id="btnDownload5" class="btn btn-success btn-lg">
                <i class="fa fa-list-alt"></i> KẾ HOẠCH TỰ ĐÁNH GIÁ
            </button>
        </div>
    }

</div>

